$primary-text-color: #0C0D3E;
$secondary-text-color: #FFFFFF;
$sub-text-color: #9597B3;

$primary-accent-color: #3E2093;
$secondary-accent-color: #FA949D;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F9F9FB;
